:root {
    --primary: #FF8A08;
    --primary-010: #D69121;

    --grey: #9b9ba0;

    --white: #fff;
    
    --black: #10101a;
    --black-010: #2a2a30;

    --red: #e02130;
    --red-010: #a30010;

    --green: #429867;
}